{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block content%}
    <div class="category">
    {% for category in categories %}
        <p class="category__title">
            <a href="?category_id={{ category.id }}" class="category__link">{{ category.title }}</a>
            <i class="category__line">/</i>
        </p>
    {% endfor %}
    </div>

    <div class="grid grid--3X4">
    {% for article in articles %}
        <div class="card card__body">
            <a href="{% url 'article-detail' pk=article.id %}"  class="cover">
                <img src="{{ article.cover_img }}" alt="Cover Image" class="cover__img">
                <p class="article__title">{{ article.title }}</p>
            </a>
            <div class="article__footer">
                {% timezone "Asia/Shanghai" %}
                    <p class="article__date">{{ article.pub_time|date:"c" }}</p>
                {% endtimezone %}
                <img src="{% static '/svg/view.svg' %}" alt="view" class="view__logo">
                <p class="article__views">{{ article.views }}</p>
            </div>
        </div>
    {% endfor %}
    </div>

    <!-- 在适当的位置渲染分页导航 -->
    <div class="pagination">
        <span class="step-links">
            {% if articles.has_next %}
                <a href="?page=1" class="prev_next first">第一页</a>
                <span class="current">
                    {{ articles.number }}/{{ articles.paginator.num_pages }}
                </span>
                <a href="?page={{ articles.next_page_number }}" class="prev_next">下一页</a>
                {% endif %}
                
            {% if articles.has_previous %}
                <a href="?page={{ articles.previous_page_number }}" class="prev_next">上一页</a>
                <span class="current">
                    {{ articles.number }}/{{ articles.paginator.num_pages }}
                </span>
                <a href="?page={{ articles.paginator.num_pages }}" class="prev_next last">最后一页</a>
            {% endif %}



        </span>
    </div>
{% endblock %}