{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Rocky的独立博客
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/> -->
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
</body>
</html>